{% extends "base.html" %}
{% from "_macro.html" import render_field %}

	{% block title %}Sign up - Progressus Bootstrap template{% endblock title%}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/cust.css') }}" media="screen">



{{super()}}
{% endblock css %}



{% block page_content %}

<!--<header  id="head" class="secondary"></header>
-->
	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Registration</li>
		</ol>

		<div class="row">

			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
			<header class="page-header">

				</header>

				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<!--{# {% block messages %} {{super() }} {% endblock messages %} #}-->
					<div class="panel panel-default">
						<div class="panel-body tabs">

							<ul class="tab-links clearfix">
									<li class="active" ><h3 class="thin ">Register</h3></a></li>
							</ul>

							<!--<p class="text-center text-muted">Lorem ipsum dolor sit amet, <a href="signin.html">Login</a> adipisicing elit. Quo nulla quibusdam cum doloremque incidunt nemo sunt a tenetur omnis odio. </p>
							-->
							<hr>

							<div class="tab1-content">

						<div id="register-form" class="tab">
							<form action="{{url_for('auth.register')}}" method="post" name="register">
								{{form.csrf_token}}
								
						   <div class="top-margin">
							   <label>Username( Company Name ) <span class="text-danger">*</span></label>
							   {{ render_field(form.username,class="form-control") }}
				   </div>
						   <div class="top-margin">
							   <label>Email Address <span class="text-danger">*</span></label>
							   {{ render_field(form.email,class="form-control") }}
						   </div>

						   <div class="row top-margin">
							   <div class="col-sm-6">
								   <label>Password <span class="text-danger">*</span></label>
								   {{ render_field(form.password,class="form-control") }}
							   </div>
							   <div class="col-sm-6">
								   <label>Confirm Password <span class="text-danger">*</span></label>
								   {{ render_field(form.password_check,class="form-control") }}
							   </div>
						   </div>

						   <hr>

						   <div class="row">
							   <div class="col-lg-8">
							   <!--	<label class="checkbox">
									   <input type="checkbox">
									   I've read the <a href="page_terms.html">Terms and Conditions</a>
								   </label>-->
							   </div>
							   <div  class="col-lg-4 text-right">

								   <!--<button class="btn btn-action" type="submit" >Register</button>-->

									   {{ form.submit_reg(class="btn btn-action") }}

							   </div>
						   </div>
					   </form>
				   </div>

					</div>

					</div><!-- panel body-->

				</div><!-- panel -->

			</article>
			<!-- /Article -->

		</div>
	</div>
</div>	<!-- /container -->


{% endblock page_content %}
{% block script %}
{{super()}}
<!--<script type="text/javascript" src="{{url_for('static',filename='js/multiform.js') }}" ></script>
-->
{% endblock script%}
