<!Doctype html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>


<!-- <button onclick=popup('http://fmsapp.com:5000/question/stream/{{hashid}}/{{semester}}','Welcome');> Click here to begin</button> -->
<h4>
    Redirecting<blink>...</blink>
</h4>
<!--

    <script type="text/javascript">
    function popup(mylink, windowname){
                if (! window.focus)return true;
                var href;
                if (typeof(mylink) == 'string') href=mylink;
                else href=mylink.href;
                window.location.href="about:blank"
                window.open(href, windowname, 'width=1920,height=1080,scrollbars=yes');
                return false;
            }
    </script> -->
<script  type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript">

    $(document).ready(function(){
        setTimeout(function(){popup('http://fmsapp.com:5000/question/stream/{{hashid}}/{{semester}}','Welcome')},2000)
        function popup(mylink, windowname){
            if (! window.focus)return true;
            var href;
            if (typeof(mylink) == 'string') href=mylink;
            else href=mylink.href;
            window.location.replace("about:blank");

            window.open(href, windowname, 'width=1920,height=1080,scrollbars=yes');
            return false;
        }
    });
    </script>

</body>

</html>
