{% from "_macro.html" import render_field %}
<html>
<head>
    <link href="{{url_for('static',filename='admin/css/bootstrap.css') }}" rel="stylesheet" />
    <link href="{{url_for('static',filename='admin/css/font-awesome.css') }}" rel="stylesheet" />
    <link href="{{url_for('static',filename='admin/css/custom-styles.css') }}" rel="stylesheet" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />


    <meta id="stream_id" data-name="{{hashid}}" data-other="{{hashid}}">
    <meta id="form_id" data-uid="{{form_id}}" >
</head>
<style>
/*.suggestions
{
    display: none;
}*/
</style>
<body>
<div class="form-group">
    <div class="col-xs-2">

        <form name="teacherform" id="teacherform" action="" method="GET">


        {{form.csrf_token}}
        {{render_field(form.subject_data,class="form-control",id="subject_select",required="required")}}
        {{render_field(form.teacher_select,class="form-control input-sm",id="teacher_select")}}
    </form>

        </div>
        <div class="panel-body">

                    <h1 class="page-header">Welcome</h1>

                    <div class="page-inner"> <br /> <div class="col-lg-8">


             <div class="form-group suggestions">
                 <form method="post" action="" name="questionform" id="questionform">
                     <table>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                      {% for key,questions in question %}
                       <tr> <td>
                           <h4 class="text-edit" id="questionid" data-id="{{key}}">{{key}}. {{questions}}</h4>
                       </td>
                   </tr>
                       <tr>

                       <td>
                           <input type="radio" name="options{{key}}" id="options" value="1" >
                           <label class="radio-inline mg" for='options'> Yes</label>
                           <input type="radio" name="options{{key}}" id="options" value="2">
                           <label class="radio-inline mg" for='options'> No</label>
                       </td>
                        </tr>

                        {% endfor %}

                        <tr>
                             <td>
                                 <div class="form-group">
                                     <label>Suggestions</label>
                                      <textarea class="form-control" id="suggestions"rows="3"></textarea>
                                 </div>
                             </td>
                         </tr>
                         <tr>
                             <td>
                                <!-- <a href="#" class="btn btn-default" name="submit" id="submit" value="submit">Submit</a>-->
                                 <!-- <input type="submit" class="btn btn-default" name="submit" id="submit" value="Submit"> -->
                                  <input type="button"   class="btn btn-default" name="submitbut" id="submitv" value="Submit">
                             </td>
                         </tr>
                     </table>
                 </form>
             </div>
             </div>
         </div>
        </div>

</div>



    {#<!--<select class="form-control" id="selector">
        <option selected="true" ></option>

        {% for key,stream in streamdata.items() %}

        <option value="{{key}}">
            {{stream}}
        </option>
        {% endfor %}

    </select>-->#}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script  type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.url_root[:-1]|tojson|safe }};
</script>
<script type="text/javascript">
$(document).ready(function () {
    var val = $.trim($("textarea").val());
    if (val != "") {
        alert(val);
    }
});

$(function(){
    $('#teacherform,#question_form').submit(function(e) {
        e.preventDefault();
    });
        $('#submitv').click(function() {
        console.log($('#question-1').attr('data-id'));



        suggestions=$.trim($("#suggestions").val());
        var dataset={
            "stream":$("#stream_id").data("name"),
            "form_id":$("#form_id").data("uid"),
            "suggestions":suggestions
        };



        query_data=$('form#questionform,form#teacherform').serializeArray();
        query_data.push({name:"form_id",value:dataset["form_id"]});
        query_data.push({name:"stream_id",value:dataset["stream"]});
        query_data.push({name:"suggestions",value:dataset["suggestions"]});
        // query_data.push({name:"teacher",value:dataset["teacher"]});
        console.log(query_data);

        $.ajax({
            url: "{{url_for('question.gen_teacher')}}",
            data: query_data,
            type: 'POST',
            success: function(response) {
                console.log(response);
                $('form#teacherform').find('select').val('__None');
                $('select#teacher_select').html('').prop('disabled',true);
                $('form#questionform').find('input:radio').prop('checked', false);
             },
            error: function(error) {
                console.log(error);
            }
        });
    });
    });


</script>
<!-- <script charset="utf-8" type="text/javascript">
$(function(){
    $(".suggestions").hide();

}) -->
</script>
<script charset="utf-8" type="text/javascript">

$(function()
{   $('#submitv').click(function(){
    if($("#subject_select").val()== '__None')
    {

    alert("The subject select field is required");

}
});
    $('#subject_select').on('change',function(){
        subject_name= $('#subject_select option:selected').text();
        subject_id= $('#subject_select option:selected').val();


        if(subject_id == '__None')
        {   $('select#teacher_select').html('').prop('disabled',true);
            return false;
        }
        $.getJSON("{{url_for('question.gen_teacher')}}",{
            a:subject_name,
            b:subject_id
        },function(data){
            var options = $("#teacher_select");
            if (options.val() != "__None"){
            data.forEach(function(item){
                options.append(
                    $('<option />',{
                        value:item[0],
                        html:item[1]

                    })
                );
            });
            $("#teacher_select").removeAttr('disabled');
        }
        else
        {
            $('select#teacher_select').html('').prop('disabled',true);
        }
        });



        });

    });



</script>
<!-- <script type="text/javascript">
$(function(){
    $('select#teacher_select').click(function(){

    var isdisabled=$('select#teacher_select').prop('disabled');
    if (isdisabled==false)
    console.log("hello")
    {
            $(".suggestions").slideDown().show();


    }
});


});
 -->

</script>


</body>
</html>
