{% from "_macro.html" import render_field %}
<html>
<head>
    <title>Welcome</title>
    <link href="{{url_for('static',filename='admin/css/bootstrap.css') }}" rel="stylesheet" />
    <link href="{{url_for('static',filename='admin/css/font-awesome.css') }}" rel="stylesheet" />
     <link href="{{url_for('static',filename='admin/css/custom-styles.css') }}" rel="stylesheet" />
    <meta id="stream_id" data-name="{{hashid}}" data-other="{{hashid}}">
    <meta id="form_id" data-uid="{{form_id}}" >
</head>
<style>
.question-ans
{
    display: none;
    overflow-y: scroll;
}
.mg
{
    left: 7%;
    font-size: 15px;

}
input[type="radio"]

{   height: 100%;
    margin-top: -20px;
    vertical-align: middle;

}
body
{
    font-family: 'Open Sans', sans-serif;
    background: #e6e6e6;
}
.panel {


-moz-box-shadow: 0 0 3px #ccc;
-webkit-box-shadow: 0 0 3px #ccc;
box-shadow: 0 0 6px #090707;

}

textarea {
    overflow-y: scroll;
    resize: none;
}
.message{display: none;}
</style>
<body>

    <div id="wrapper">






        <div id="page-inner">
            <div class="row">
                <div class="col-lg-6 col-md-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="panel-heading">

                                        <h3 align="center">Welcome </h3>

                            </div>
                            <div id="flash">

                            </div>
                            <div class="row">
                                <div class="col-md-12  ">

                                    <hr>
                                    <div class="row">
                                    <form name="teacherform" id="teacherform"  method="GET">


                                        <div class="form-group">
                                            {{form.csrf_token}}
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>Subject</label>
                                                {{render_field(form.subject_data,class="form-control",id="subject_select")}}
                                        </div>
                                        <div class="col-md-5">
                                            <label>Teacher</label>
                                                {{render_field(form.teacher_select,class="form-control ",id="teacher_select")}}
                                    </div>
                                </div>
                            </form>
                            </div><!--- Select row-->
                            <hr>
                            <div class="col-md-12 question-ans">
                            <!-- <div class="form-group question-an"> -->
                                <form method="POST"  name="questionform" id="questionform">
                                    {{form.csrf_token}}

                                       {#<!-- <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> -->
                                       #}
                                     {% for key,questions in question %}
                                     <!-- <div class="row"> -->
                                     <div class="form-group">

                                          <label>{{key}}. {{questions}}</label>


                                          <br/>
                                          <label class="radio-inline mg" for='options{{key}}'>Yes
                                           <input type="radio" name="options{{key}}" id="options" value="1" required >

                                           </label>



                                           <label class="radio-inline mg" for='options{{key}}'> No
                                          <input type="radio" name="options{{key}}" id="options" value="2" required >


                                          </label>



                                      </div>
                                  <!-- </div> -->
                                       {% endfor %}
                                       <hr>
                                       <div class="form-group">
                                           <label>Suggestions</label>

                                           <textarea class="form-control" id="suggestions" ></textarea>
                                       </div>
                                       <!-- <input type="button"   class="btn btn-default" name="submitbut" id="submitv" value="Submit"> -->
                                       <input type="submit" class="btn btn-default" name="submit" id="submitv" value="Submit">


                                   </form>

                                <!-- </div> -->
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>








<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script  type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.url_root[:-1]|tojson|safe }};
</script>
<script type="text/javascript">

$(function(){
    var numopt=document.getElementById("subject_select").options.length-1;
    console.log(numopt)


    // $("#questionform").submit(function(e){
    //
    //     e.preventDefault();
    // });


    $("#submitv").click(function(e)
    {   e.preventDefault();


        if($("#questionform")[0].checkValidity()) {

        // if(validate())
        // {
        //     console.log("false")
        // }
        // else
        // {

        suggestions=$.trim($("#suggestions").val());

        var dataset={
            "stream":$("#stream_id").data("name"),
            "form_id":$("#form_id").data("uid"),
            "suggestions":suggestions
        };


        var $messageDiv = $('#flash'); // get the reference of the div


        query_data=$('form#questionform,form#teacherform').serializeArray();
        query_data.push({name:"form_id",value:dataset["form_id"]});
        query_data.push({name:"stream_id",value:dataset["stream"]});
        query_data.push({name:"suggestions",value:dataset["suggestions"]});
        // query_data.push({name:"teacher",value:dataset["teacher"]});
        console.log(query_data);

        $.ajax({
            url: "{{url_for('question.gen_teacher')}}",
            data: query_data,
            type: 'POST',
            success: function(response) {
                console.log(response);
                 // setTimeout($('#flash').append(flashMessage(response)),3000);

                // jQuery("div#test option:last-child").remove();
                // $('#subject_select option:selected').prop('disabled',true);
                for (i=0; i<response.length; i++){
                $messageDiv.show().html("<div class='alert alert-"+ response[i]['type'] + " alert-dismissible > <button type='button' class='close' data-dismiss='alert' aria-label='close'><span aria-hidden='true'>&times;</span></button> "+response[i].message); // show and set the message
                setTimeout(function(){ $messageDiv.slideDown("slow").html('');}, 3000);
            }
                $('#subject_select option:selected').remove();
                $('form#teacherform').find('select').val('__None');

                $('select#teacher_select').html('').prop('disabled',true);
                $('form#questionform').find('input:radio').prop('checked', false);
                $('#suggestions').val('');
                $(".question-ans").fadeOut();
                numopt--;
                console.log(numopt);
                if(numopt<1)
                {   setTimeout(function(){
                    alert("Thank You");
                    window.location.href = "{{url_for('question.suc')}}";

                },2000)

                }
             },
            error: function(error) {
                console.log(error);
            }
        }); //ajax function end
    }else{
        alert("all fields required");
    }
    // }

    });
});




</script>
 <script charset="utf-8" type="text/javascript">
$(function(){
    $(".question-ans").hide();

});
</script>
<script charset="utf-8" type="text/javascript">

$(function()
{

    $('#subject_select').on('change',function(){
    //     if($("#subject_select").val()== '__None')
    //     {
    //
    //     alert("The subject select field is required");
    // }
        $('form#questionform').find('input:radio').prop('checked', false);
        $('#suggestions').val('');
        $(".question-ans").fadeOut();
        subject_name= $('#subject_select option:selected').text();
        subject_id= $('#subject_select option:selected').val();


        if(subject_id == '__None')

        {   $('select#teacher_select').html('').prop('disabled',true);
            $(".question-ans").fadeOut();

            return false;
        }
        else
        {
        $.getJSON("{{url_for('question.gen_teacher')}}",{
            a:subject_name,
            b:subject_id
        },function(data){
            var options = $("#teacher_select");
            if (options.val() != "__None"){
                options.html("");
            data.forEach(function(item){
                options.append(
                    $('<option />',{
                        value:item[0],
                        html:item[1]

                    })
                );
            });
            $("#teacher_select").removeAttr('disabled');


        }
        else
        {
            $('select#teacher_select').html('').prop('disabled',true);
        }
        });
        }
        });

    });



</script>
 <script type="text/javascript">
$(function(){
    $('select#teacher_select').click(function(){

    var isdisabled=$('select#teacher_select').prop('disabled');
    console.log("hello")
    if (isdisabled==false)
    {
            $(".question-ans").slideDown().show();
    }
});


});

</script>
<script type="text/javascript">
// function validate()
// {
//
// if($('div.question-ans:not(:has(:radio:checked))').length)
// {
//     alert("all inputs are required");
//
//     return false;
//
// }
// }
// $(document).ready(function(){
//     $(".error").hide();
// $("#submitv").click(function(e){
//     $(".error").hide();
//     e.preventDefault();
//
//     if($('div.question-ans:not(:has(:radio:checked))').length)
//     {
//         alert("all inputs are required");
//
//         return false;
//
//     }
//     return true;
//
//
//




    // $.each("input:radio",function(){
    //         console.log($(this).val());
    // })

//
// });
// });


</script>


</body>
</html>
