{% extends "base.html" %}
{% from "_macro.html" import render_field %}

	{% block title %}Sign up - Progressus Bootstrap template{% endblock title%}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/cust.css') }}" media="screen">



{{super()}}
{% endblock css %}



{% block body %}

<header  id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Registration</li>
		</ol>

		<div class="row">

			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
			<header class="page-header">

				</header>

				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					{% block messages %} {{super() }} {% endblock messages %}
					<div class="panel panel-default">
						<div class="panel-body tabs">

							<ul class="tab-links clearfix">
								<li class=""><h2 class="thin">Welcome</h2></li>

							</ul>

							<!--<p class="text-center text-muted">Lorem ipsum dolor sit amet, <a href="signin.html">Login</a> adipisicing elit. Quo nulla quibusdam cum doloremque incidunt nemo sunt a tenetur omnis odio. </p>
							-->
							<hr>

							<div class="tab-content">

						<div id="register-form" class="tab active">
							<form action="{{url_for('auth.domain_register')}}" method="POST" name="domain_register">
								{{form.csrf_token}}
								<div class="top-margin">

									   {{ render_field(form.domain_name,class="form-control") }}
									   <label><h4 class="thin">fmsapp.com</h4></label>
								   </div>


						   <hr>

						   <div class="row">
							   <div class="col-lg-8">
							   <!--	<label class="checkbox">
									   <input type="checkbox">
									   I've read the <a href="page_terms.html">Terms and Conditions</a>
								   </label>-->
							   </div>
							   <div  class="col-lg-4 text-right">

								   <!--<button class="btn btn-action" type="submit" >Register</button>-->

									   {{ form.submit_dom(class="btn btn-action") }}

							   </div>
						   </div>
					   </form>
				   </div>

					</div>

					</div><!-- panel body-->

				</div><!-- panel -->

			</article>
			<!-- /Article -->

		</div>
	</div>
</div>	<!-- /container -->


{% endblock body %}
{% block script %}
{{super()}}
<script type="text/javascript" src="{{url_for('static',filename='js/multiform.js') }}" ></script>

{% endblock script%}
