.tabs {
    width:100%;
    display:inline-block;
}
/*.tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
*/
.tab-links li {
        /*margin:4px 5px;

        list-style:none;
        padding:4px;
        */

    }
.tab-links li {

        /*margin-left:19%;*/
        width: 100%;
        text-align: center;
        float: inherit;
        list-style:none;
        padding-right: 10%;

    }



         .tab-links a:hover {
            color: #DC143C;
            text-decoration:none;
        }
            li.active a, li.active a:hover {
        background:#fff;
        text-decoration: underline;
        color:#4c4c4c;
    }
    .tab-content {
        padding:15px;
        border-radius:0px;

        /*background:#fff;*/
    }

        .tab {
            /*display:none;*/
        }

        .tab.active {
            display:block;
        }
	.form{display: block;}
.container-fluid
{
  height: 100%;

}
#footer
{
  position: absolute;
  width: 100%;
}
