.tabs {
    width:100%;
    display:inline-block;
}
.tab-links:after {
        display:block;
        clear:both;
        content:'';
    }

.tab-links li {
        /*margin:4px 5px;

        list-style:none;
        padding:4px;
        */
    }
.tab-links li {
        margin-left:19%;

        float: left;
        list-style:none;


    }

    .tab-links a {

            display:block;
            border-radius:3px 3px 0px 0px;

            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;

        }
         .tab-links a:hover {
            color: #DC143C;
            text-decoration:none;
        }
            li.active a, li.active a:hover {
        background:#fff;
        text-decoration: underline;
        color:#4c4c4c;
    }
    .tab-content {
        padding:15px;
        border-radius:0px;

        background:#fff;
    }

        .tab {
            display:none;
        }

        .tab.active {
            display:block;
        }
	.form{display: block;}
