{% extends 'admin/master.html' %}

{% block title %} FMsapp {% endblock %}

{% block brand %}
	  <a class="navbar-brand" href="#">{{ admin_view.admin.name|capitalize }}</a>
	  {% endblock %}

{% block body %}
    <h1>MicroBlog Edit View</h1>

{% endblock %}

{% block access_control %}
{% if current_user.is_authenticated %}
<div class="btn-group pull-right">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i> Leon{{ current_user.login }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
    </ul>
</div>
{% endif %}
{% endblock %}

