{% extends 'admin/master.html' %}
{% from '_macro.html' import render_field %}
{% block title %} FMsapp {% endblock %}
{% block head %}
<style>
.message-div{display: none;}
</style>
{% endblock %}
{%  block body %}
<div class="row">
<div class="col-xs-12 message">
    <div id="message-data">

    </div>
</div>
</div>



    <div class="row">
        <div class="col-xs-8">


    <form  class="form-inline" method="POST">
        {{form.csrf_token}}
        <div class="form-group">

            {{render_field(form.stream,class="form-control",id="stream_select")}}
        </div>
        <div class="form-group">

        {{render_field(form.semester,class="form-control",id="semester_select")}}
    </div>
        <div class="form-group">

        {{render_field(form.elective_data,class="form-control",id="elective_select")}}
    </div>


    </br>


    </div>
    <br/>
</form>
</div>
<div class="col-xs-2">
    <span id="link_load"></span>
</div>

</div>

{% endblock %}
{%block tail%}
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.url_root[:-1]|tojson|safe }};
</script>
<script charset="utf-8" type="text/javascript">

// $(function()
// {
//     updatedata();
//     function updatedata()
//     {
//     $('#stream_select').on('change',function(){
//         stream_name= $('#stream_select option:selected').text();
//         stream_id= $('#stream_select option:selected').val();
//         if(stream_id == '__None')
//         {
//             return false;
//         }
//         $.getJSON("{{url_for('linkgen.genlink')}}",{
//             a:stream_name,
//             b:stream_id
//         },function(data){
//             $('#link_load').html("<H1><a href="+data.d+">"+$SCRIPT_ROOT+data.d+" </a>")
//
//         });
//
//     });
// }
// });
$(function()
{
    updatedata();
    function updatedata()
    {
    $('#semester_select').on('change',function(){
        stream_name= $('#stream_select option:selected').text();
        stream_id= $('#stream_select option:selected').val();
        semester_name=$("#semester_select option:selected").text();
        semester_id=$("#semester_select option:selected").val();

        if(stream_id == '__None' || semester_id == '__None')
        {
            $(".message").show().html("<div class='alert alert-danger alert-dismissable'><a  class='close' data-dismiss='alert'       aria-label='close'>×</a><strong>Both are required</strong> </div>"); // show and set the message
            setTimeout(function(){ $(".message").hide(300).html('');}, 3000);
            return false;
        }
        $.getJSON("{{url_for('linkgen.genlink')}}",{
            a:semester_id,
            b:stream_id
        },function(data){
            

            $('#link_load').html("<H1><a href="+data.d+">"+$SCRIPT_ROOT+data.d+" </a>")

        });

    });
}
});

</script>


{%endblock%}



{% block tail_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script  type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
{{super()}}
{% endblock %}
